@font-face {
    font-family: "Solaiman";
    src: url("../fonts/SolaimanLipi.ttf") format("ttf"),
        url("../fonts/SolaimanLipi.otf") format("otf"),
        url("../fonts/SolaimanLipi.eot") format("eot"),
        url("../fonts/SolaimanLipi.svg") format("svg"),
        url("../fonts/SolaimanLipi.woff2") format("woff2"),
        url("../fonts/SolaimanLipi.woff") format("woff");
    unicode-range: U+0980-09FF; /* Bengali Unicode block. SolaimanLipi will only apply to Bangla text (Unicode range U+0980–U+09FF) */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Solaiman";
    src: url("../fonts/SolaimanLipi-bold.ttf") format("ttf"),
        url("../fonts/SolaimanLipi-bold.otf") format("otf"),
        url("../fonts/SolaimanLipi-bold.eot") format("eot"),
        url("../fonts/SolaimanLipi-bold.svg") format("svg"),
        url("../fonts/SolaimanLipi-bold.woff2") format("woff2"),
        url("../fonts/SolaimanLipi-bold.woff") format("woff");
    unicode-range: U+0980-09FF; /* Bengali Unicode block. SolaimanLipi will only apply to Bangla text (Unicode range U+0980–U+09FF) */
    font-weight: bold;
    font-style: normal;
}

/*CSS Reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    font-family: "Solaiman" !important;
    overflow-x: hidden;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.english {
    font-family: Arial, Helvetica, sans-serif !important;
}

blockquote {
    quotes: none;
    border-left: 4px #b00 solid;
    border-right: 1px #b00 solid;
    border-top: 1px #b00 solid;
    border-bottom: 1px #b00 solid;
    font-family: "Solaiman";
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    padding: 20px;
    position: relative;
    margin: 30px 0px;
}

blockquote::before {
    content: "‟";
    background-color: #fff;
    font-weight: bold;
    color: #b00;
    font-size: 72px;
    line-height: 72px;
    position: absolute;
    top: -23px;
    left: 100px;
    width: 36px;
    height: 36px;
}

blockquote::after {
    content: "”";
    background-color: #fff;
    font-weight: bold;
    color: #b00;
    font-size: 72px;
    line-height: 72px;
    position: absolute;
    top: calc(100% - 23px);
    left: calc(100% - 100px);
    width: 36px;
    height: 36px;
}

cite {
    font-size: 20px;
    font-weight: bold;
    color: #b00;
    margin-top: 25px;
    margin-left: 30px;
    display: block;
    background-image: url("../images/dash.png");
    background-repeat: no-repeat;
    background-position: 0px 10px;
    padding-left: 20px;
}

blockquote > h6 {
    color: #b00;
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0px;
}

q {
    quotes: none;
    border-left: 4px #b00 solid;
    font-family: "Solaiman";
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    background-color: #fee;
    padding: 20px;
    margin: 30px 0px;
    display: block;
}

q > h6 {
    color: #b00;
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0px;
}

/* Header */

.site-header {
    display: flex;
    justify-content: flex-start; /* align to the left */
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    height: 80px;
}

.site-header img {
    height: 50px; /* or try 30px, 50px based on your design */
    width: auto; /* maintain aspect ratio */
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #136091;
    height: 80px;
    width: 1200px;
    padding: 0 calc((100% - 1200px) / 2);
}

button,
select {
    font-family: "Solaiman", sans-serif;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 58px;
    text-align: center;
    padding: 0 15px;
}

nav a:hover {
    color: #000;
}

.hamburger {
    display: block;
    font-size: 27px;
    color: #fff;
    cursor: pointer;
    width: 55px;
    position: absolute;
    top: 120px;
    height: 55px;
    right: calc((100% - 1200px) / 2);
}

.hamburger:hover ul {
    display: block;
}

.hamburger ul {
    position: absolute;
    width: 220px;
    top: 54px;
    left: calc(50% - 192px);
    background: #b00;
    z-index: 100;
    border-radius: 5px;
    display: none;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}

.hamburger li {
    padding: 10px;
    border-bottom: 1px solid #fff;
    text-align: left;
}

.hamburger ul li:hover {
    background: #900;
}

.hamburger li a {
    color: #fff;
}

/* Footer */

footer {
    color: #fff !important;
}

.foot-wrapper {
    width: 1200px;
    background: #b00;
}

.foot-wrapper svg {
    width: 200px;
    height: auto;
}

.foot-wrapper > a {
    display: block;
    width: 200px;
    height: 48px;
    margin-bottom: 10px;
}

.foot-wrapper > hr {
    height: 3px;
    background: #fff;
    border: none;
    width: 100%;
    margin-bottom: 20px;
}

.copyright {
    background: #000;
}

.copyright,
.foot-wrapper {
    padding: 10px calc((100% - 1200px) / 2);
}

.copyright div {
    width: 50%;
    text-align: left;
}

.copyright div:last-child {
    text-align: right;
}

#editor {
    display: grid;
    grid-template-columns: 30% 10% 60%;
    line-height: 22px;
    width: 50%;
    min-height: 100px;
}

#address {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
    min-height: 100px;
}

#address div {
    width: 100%;
}

.footer-links {
    display: flex;
    width: 100%;
    padding: 15px 0px;
    justify-content: space-evenly;
}

.footer-links div,
.footer-links a {
    width: 20%;
    text-align: center;
}

.footer-links a {
    border-radius: 5px;
    background: #fff;
    color: #000;
    padding: 5px 0px;
}

.footer-links a:hover {
    color: #b00;
    cursor: pointer;
}

#sm {
    width: 30% !important;
    margin: 0 auto;
}

#sm a {
    width: 30px;
    height: 18px;
    background: #fff;
    color: #000;
    border-radius: 15px;
    text-align: center;
    padding: 6px 0px;
    line-height: 18px;
    cursor: pointer;
}

#sm a:hover {
    color: #b00;
}

#ungayeb {
    display: none;
}
