    .transform-section {
        position: relative;
        height: 100vh;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c') no-repeat center center/cover;
        background-attachment: fixed;
        overflow: hidden;
    }

    .transform-overlay {
        background-color: rgba(0, 0, 0, 0.6); /* Transparent dark overlay */
        padding: 40px;
        border-radius: 8px;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .transform-overlay li {
        color: #a3ff00;
        margin-bottom: 10px;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        list-style-type: square;
    }

    .transform-overlay h1 {
        font-size: 42px;
        line-height: 1.3;
        margin: 10px 0 20px;
    }

    .transform-overlay p {
        color: #ccc;
        font-size: 16px;
        margin-bottom: 30px;
    }

    .transform-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .transform-btn {
        padding: 12px 28px;
        font-size: 16px;
        border: 2px solid transparent;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        transition: all 0.3s ease;
    }

    .transform-btn-primary {
        background-color: #cbff38;
        color: #000;
    }

    .transform-btn-primary:hover {
        background-color: #fff;
    }

    .transform-btn-outline {
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
    }

    .transform-btn-outline:hover {
        background-color: #fff;
        color: #000;
    }

    .transform-social-icons {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .transform-social-icons i {
        font-size: 20px;
        border: 1px solid white;
        color: #fff;
        padding: 10px;
        border-radius: 10%;
        transition: background 0.3s;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        -o-border-radius: 10%;
    }

    .transform-social-icons i:hover {
        background: #fff;
        color: #000;
        cursor: pointer;
    }